[Unit]
Description=Gunicorn instance to serve SMRU Django app
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/smru.in/backend
Environment="PATH=/var/www/smru.in/backend/venv/bin"
ExecStart=/var/www/smru.in/backend/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 smru.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
